n8n-leads-agent.json
{
  "name": "Tec Tha — Lead Generation Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 9 * * *" }]
        }
      },
      "id": "node-schedule-trigger",
      "name": "Schedule — Daily 9AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-form",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook-trigger",
      "name": "Webhook — Website Form",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 500],
      "webhookId": "lead-form-webhook-id"
    },
    {
      "parameters": {},
      "id": "node-manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 700]
    },
    {
      "parameters": {
        "pollTimes": { "item": [{ "mode": "everyMinute" }] },
        "filters": { "labelIds": ["INBOX"], "q": "subject:Re: is:unread" },
        "simple": true
      },
      "id": "node-gmail-trigger",
      "name": "Gmail — Monitor Replies",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [240, 900],
      "credentials": {
        "gmailOAuth2": { "id": "gmail-oauth2-cred", "name": "Gmail OAuth2 — Tec Tha" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/v1/mixed_people/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "X-Api-Key", "value": "YOUR_APOLLO_API_KEY" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"page\": 1,\n  \"per_page\": 25,\n  \"person_titles\": [\"CEO\",\"CTO\",\"Founder\",\"VP Engineering\",\"Head of Operations\",\"Director of Technology\"],\n  \"q_keywords\": \"business automation SaaS\",\n  \"prospected_by_current_team\": [\"no\"]\n}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "node-apollo-search",
      "name": "Apollo.io — B2B Lead Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [540, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "engine", "value": "google" },
            { "name": "q", "value": "site:linkedin.com/in CEO OR CTO \"business automation\" -job -jobs" },
            { "name": "api_key", "value": "YOUR_SERPAPI_KEY" },
            { "name": "num", "value": "10" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "node-serpapi-search",
      "name": "SerpAPI — Google Lead Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [540, 380]
    },
    {
      "parameters": {
        "jsCode": "const apolloData = $input.first().json;\nconst people = apolloData.people ?? [];\nconst leads = people.map(p => ({\n  name: `${p.first_name ?? ''} ${p.last_name ?? ''}`.trim(),\n  email: p.email ?? null,\n  phone: p.phone_numbers?.[0]?.sanitized_number ?? null,\n  company: p.organization?.name ?? null,\n  linkedinUrl: p.linkedin_url ?? null,\n  title: p.title ?? null,\n  source: 'apollo',\n  rawScore: 0\n})).filter(l => l.name && (l.email || l.linkedinUrl));\nreturn leads.map(l => ({ json: l }));"
      },
      "id": "node-normalize-apollo",
      "name": "Code — Normalize Apollo Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 200]
    },
    {
      "parameters": {
        "jsCode": "const serpData = $input.first().json;\nconst results = serpData.organic_results ?? [];\nconst leads = results.map(r => {\n  const titleMatch = r.title?.match(/^([^\\-|]+)/);\n  const name = titleMatch ? titleMatch[1].trim() : 'Unknown';\n  const companyMatch = r.snippet?.match(/at ([A-Z][^,\\.]+)/);\n  const company = companyMatch ? companyMatch[1].trim() : null;\n  const linkedinUrl = r.link?.includes('linkedin.com') ? r.link : null;\n  return { name, email: null, phone: null, company, linkedinUrl, title: null, source: 'serpapi', rawScore: 0, snippet: r.snippet ?? null };\n}).filter(l => l.name !== 'Unknown' && l.linkedinUrl);\nreturn leads.map(l => ({ json: l }));"
      },
      "id": "node-normalize-serp",
      "name": "Code — Normalize SerpAPI Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 380]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? $input.first().json;\nconst lead = {\n  name: `${body.firstName ?? ''} ${body.lastName ?? ''}`.trim() || body.name || 'Unknown',\n  email: body.email ?? null,\n  phone: body.phone ?? null,\n  company: body.company ?? null,\n  linkedinUrl: body.linkedin ?? body.linkedinUrl ?? null,\n  title: body.title ?? null,\n  source: 'website_form',\n  rawScore: 0,\n  message: body.message ?? null\n};\nreturn [{ json: lead }];"
      },
      "id": "node-normalize-webhook",
      "name": "Code — Normalize Webhook Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [540, 500]
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json;\nconst fromHeader = msg.payload?.headers?.find(h => h.name === 'From')?.value ?? msg.from ?? '';\nconst subjectHeader = msg.payload?.headers?.find(h => h.name === 'Subject')?.value ?? '';\nconst emailMatch = fromHeader.match(/([^<>]+)?\\s*<([^>]+)>|([\\w._%+\\-]+@[\\w.\\-]+\\.[A-Z]{2,})/i);\nconst name = emailMatch?.[1]?.trim() ?? fromHeader.split('@')[0] ?? 'Unknown';\nconst email = emailMatch?.[2] ?? emailMatch?.[3] ?? null;\nconst lead = { name, email, phone: null, company: null, linkedinUrl: null, title: null, source: 'gmail_reply', rawScore: 0, snippet: msg.snippet ?? '', originalSubject: subjectHeader };\nreturn [{ json: lead }];"
      },
      "id": "node-normalize-gmail",
      "name": "Code — Normalize Gmail Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [540, 900]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { name: 'Test Lead', email: 'testlead@example.com', phone: '+15551234567', company: 'Acme Corp', linkedinUrl: 'https://linkedin.com/in/testlead', title: 'CEO', source: 'manual', rawScore: 0 } }];"
      },
      "id": "node-normalize-manual",
      "name": "Code — Manual Test Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [540, 700]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "node-merge-all-leads",
      "name": "Merge — All Lead Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1020, 560]
    },
    {
      "parameters": {
        "model": "gemini-2.0-flash",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a B2B lead scoring AI for Tec Tha (business automation SaaS). Analyze this lead and return ONLY a JSON object with: name (string), email (string|null), phone (string|null), company (string|null), linkedinUrl (string|null), title (string|null), source (keep as-is), score (0-100 integer: +30 verified email, +15 phone, +10 linkedin, +10 company, +20 C-level title, +15 warm source, +10 apollo source, -20 no email and no linkedin), notes (1-2 sentence insight). Input: {{ JSON.stringify($json) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-ai-scorer",
      "name": "AI — Gemini Lead Scorer",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [1260, 560],
      "credentials": {
        "googleGeminiApi": { "id": "gemini-api-cred", "name": "Google Gemini API — Tec Tha" }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst content = raw.text ?? raw.content ?? raw.response ?? JSON.stringify(raw);\nlet scored;\ntry {\n  const cleaned = content.replace(/^```json\\s*/i, '').replace(/```\\s*$/i, '').trim();\n  scored = JSON.parse(cleaned);\n} catch (e) {\n  scored = { ...raw, score: 10, notes: 'AI scoring failed — manual review needed' };\n}\nscored.score = Math.min(100, Math.max(0, parseInt(scored.score ?? 10)));\nscored.processedAt = new Date().toISOString();\nreturn [{ json: scored }];"
      },
      "id": "node-parse-ai",
      "name": "Code — Parse AI Scored Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 560]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://your-vercel-app.vercel.app/api/leads",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "email", "value": "={{ $json.email }}" },
            { "name": "secret", "value": "tectha-n8n-secret-2026" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "node-dedup-check",
      "name": "HTTP — Dedup Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1740, 560]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "typeValidation": "loose" },
          "conditions": [{ "id": "dedup-cond", "leftValue": "={{ $json.exists }}", "rightValue": true, "operator": { "type": "boolean", "operation": "false" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-duplicate",
      "name": "IF — Is Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1980, 560]
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\nconsole.log(`[DEDUP] Skipping duplicate: ${lead.email ?? lead.name}`);\nreturn [{ json: { skipped: true, reason: 'duplicate', email: lead.email, name: lead.name } }];"
      },
      "id": "node-skip-duplicate",
      "name": "Code — Log Duplicate Skip",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 720]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://your-vercel-app.vercel.app/api/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-api-secret", "value": "tectha-n8n-secret-2026" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $json.name, email: $json.email, phone: $json.phone, company: $json.company, linkedinUrl: $json.linkedinUrl, title: $json.title, source: $json.source, score: $json.score, notes: $json.notes, processedAt: $json.processedAt }) }}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "node-save-lead",
      "name": "HTTP — Save Lead (/api/leads)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 400]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "1817463085",
        "text": "=🎯 *New Lead*\n\n👤 *Name:* {{ $json.name }}\n📧 *Email:* {{ $json.email ?? 'N/A' }}\n📱 *Phone:* {{ $json.phone ?? 'N/A' }}\n🏢 *Company:* {{ $json.company ?? 'N/A' }}\n💼 *Title:* {{ $json.title ?? 'N/A' }}\n📊 *Score:* {{ $json.score }}/100\n📌 *Source:* {{ $json.source }}\n💡 {{ $json.notes ?? '' }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "node-telegram",
      "name": "Telegram — Admin Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2500, 260],
      "credentials": {
        "telegramApi": { "id": "telegram-bot-cred", "name": "Telegram Bot — Tec Tha" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "typeValidation": "loose" },
          "conditions": [{ "id": "has-phone", "leftValue": "={{ $json.phone }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-phone",
      "name": "IF — Has Phone?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2500, 420]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "typeValidation": "loose" },
          "conditions": [{ "id": "has-email", "leftValue": "={{ $json.email }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-email",
      "name": "IF — Has Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2500, 580]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.fast2sms.com/dev/bulkV2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "authorization", "value": "YOUR_FAST2SMS_API_KEY" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"route\":\"q\",\"message\":\"Hi {{ $json.name.split(' ')[0] }}, this is Tec Tha. We help companies like {{ $json.company ?? 'yours' }} automate operations with AI. Book a free 15-min demo: https://tecautomations.vercel.app/demo\",\"numbers\":\"{{ $json.phone.replace(/[^0-9]/g, '') }}\",\"flash\":0}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "node-sms",
      "name": "Fast2SMS — SMS Outreach",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2740, 360]
    },
    {
      "parameters": {
        "operation": "send",
        "toList": "={{ $json.email }}",
        "subject": "=Quick intro from Tec Tha — automation for {{ $json.company ?? 'your business' }}",
        "emailType": "html",
        "message": "=<div style=\"font-family:Arial,sans-serif;max-width:600px;\">\n  <div style=\"background:linear-gradient(105deg,#0a1628,#1a56db);padding:24px 32px;border-radius:12px 12px 0 0;\">\n    <h2 style=\"color:#fff;margin:0;\">Hi {{ $json.name.split(' ')[0] }},</h2>\n  </div>\n  <div style=\"background:#f9fafb;padding:28px 32px;border:1px solid #e5e7eb;border-radius:0 0 12px 12px;\">\n    <p>I'm from <strong>Tec Tha</strong> — we help {{ $json.title ? `${$json.title}s` : 'leaders' }} at companies like <strong>{{ $json.company ?? 'yours' }}</strong> automate operations and save 10+ hours/week.</p>\n    <p>Would you be open to a quick 15-min demo?</p>\n    <div style=\"text-align:center;margin:24px 0;\">\n      <a href=\"https://your-vercel-app.vercel.app/demo\" style=\"background:#1a56db;color:#fff;padding:12px 28px;border-radius:8px;text-decoration:none;font-weight:600;\">Book a Free Demo</a>\n    </div>\n    <p style=\"font-size:13px;color:#6b7280;\">Reply STOP to unsubscribe.</p>\n  </div>\n</div>",
        "options": { "appendAttribution": false }
      },
      "id": "node-gmail-outreach",
      "name": "Gmail — Outreach Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2740, 580],
      "credentials": {
        "gmailOAuth2": { "id": "gmail-oauth2-cred", "name": "Gmail OAuth2 — Tec Tha" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Lead received\" }",
        "options": { "responseCode": 200 }
      },
      "id": "node-webhook-response",
      "name": "Webhook — Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [780, 500]
    }
  ],
  "connections": {
    "Schedule — Daily 9AM": {
      "main": [[
        { "node": "Apollo.io — B2B Lead Search", "type": "main", "index": 0 },
        { "node": "SerpAPI — Google Lead Search", "type": "main", "index": 0 }
      ]]
    },
    "Webhook — Website Form": {
      "main": [[
        { "node": "Code — Normalize Webhook Lead", "type": "main", "index": 0 },
        { "node": "Webhook — Respond 200", "type": "main", "index": 0 }
      ]]
    },
    "Manual Trigger": {
      "main": [[{ "node": "Code — Manual Test Lead", "type": "main", "index": 0 }]]
    },
    "Gmail — Monitor Replies": {
      "main": [[{ "node": "Code — Normalize Gmail Lead", "type": "main", "index": 0 }]]
    },
    "Apollo.io — B2B Lead Search": {
      "main": [[{ "node": "Code — Normalize Apollo Leads", "type": "main", "index": 0 }]]
    },
    "SerpAPI — Google Lead Search": {
      "main": [[{ "node": "Code — Normalize SerpAPI Leads", "type": "main", "index": 0 }]]
    },
    "Code — Normalize Apollo Leads": {
      "main": [[{ "node": "Merge — All Lead Sources", "type": "main", "index": 0 }]]
    },
    "Code — Normalize SerpAPI Leads": {
      "main": [[{ "node": "Merge — All Lead Sources", "type": "main", "index": 1 }]]
    },
    "Code — Normalize Webhook Lead": {
      "main": [[{ "node": "Merge — All Lead Sources", "type": "main", "index": 2 }]]
    },
    "Code — Manual Test Lead": {
      "main": [[{ "node": "Merge — All Lead Sources", "type": "main", "index": 3 }]]
    },
    "Code — Normalize Gmail Lead": {
      "main": [[{ "node": "Merge — All Lead Sources", "type": "main", "index": 4 }]]
    },
    "Merge — All Lead Sources": {
      "main": [[{ "node": "AI — Gemini Lead Scorer", "type": "main", "index": 0 }]]
    },
    "AI — Gemini Lead Scorer": {
      "main": [[{ "node": "Code — Parse AI Scored Lead", "type": "main", "index": 0 }]]
    },
    "Code — Parse AI Scored Lead": {
      "main": [[{ "node": "HTTP — Dedup Check", "type": "main", "index": 0 }]]
    },
    "HTTP — Dedup Check": {
      "main": [[{ "node": "IF — Is Duplicate?", "type": "main", "index": 0 }]]
    },
    "IF — Is Duplicate?": {
      "main": [
        [{ "node": "HTTP — Save Lead (/api/leads)", "type": "main", "index": 0 }],
        [{ "node": "Code — Log Duplicate Skip", "type": "main", "index": 0 }]
      ]
    },
    "HTTP — Save Lead (/api/leads)": {
      "main": [[
        { "node": "Telegram — Admin Notification", "type": "main", "index": 0 },
        { "node": "IF — Has Phone?", "type": "main", "index": 0 },
        { "node": "IF — Has Email?", "type": "main", "index": 0 }
      ]]
    },
    "IF — Has Phone?": {
      "main": [
        [{ "node": "Fast2SMS — SMS Outreach", "type": "main", "index": 0 }],
        []
      ]
    },
    "IF — Has Email?": {
      "main": [
        [{ "node": "Gmail — Outreach Email", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": [{ "name": "leads" }, { "name": "automation" }]
}
